@{
    ViewBag.Title = "ListLogs";
}

<h2>ListLogs</h2>

<div class="dateStyle">
    <select id="categories-select" onchange="OnSelectedCategoryChanged()" class="custom-select">
        <option value="0">All</option>
        <option value="1">User</option>
        <option value="2">Date</option>
        <option value="3">Type</option>
    </select>
    <select id="users-select" onchange="OnSelectedUserChanged()" hidden class="custom-select">
        <option value="" selected>All</option>
    </select>
    <select id="types-select" onchange="OnSelectedTypeChanged()" hidden class="custom-select">
        <option value="" selected>All</option>
    </select>
    <select id="type-users-select" onchange="OnSelectedUserForTypeChanged()" hidden class="custom-select">
        <option value="" selected>All</option>
    </select>
    <input type="date" id="datepicker" name="datepicker" onchange="OnDateSelected()" hidden>
</div>

    @Html.AjaxGrid(Url.Action("IndexGrid"), new { id = "log-grid" })

@section scripts{
    <script>
        $(function(){

            $.extend({
                RequestDataMyAjax: function (type, url, dataKey, data) {
                    $.ajax({
                        type: type,
                        url: url,
                        data: { [dataKey]: data },
                        success: function (result) {
                            FillTableRows(result);
                        }
                    });
                },
                GetLogsByUserId: function (userId) {
                    var type = "POST";
                    var url = `/api/logs/GetLogsByUserId/${userId}`;
                    $.RequestDataMyAjax(type, url, null, null);

                },
                GetLogsByDate: function (selectedDate) {
                    var type = "POST";
                    var url = "/api/logs/getdates";
                    var dataKey = "SelectedDate";
                    $.RequestDataMyAjax(type, url, dataKey, selectedDate);
                },
                GetLogsByType: function (selectedtype) {
                    var type = "POST";
                    var url = "/api/logs/GetUserLogsByLogType";
                    var dataKey = "SelectedType";
                    $.RequestDataMyAjax(type, url, dataKey, selectedtype);
                },
                GetAllLogs: function () {
                    var type = "POST";
                    var url = "/api/logs/GetAllLogs";
                    $.RequestDataMyAjax(type, url, null, null);
                },
                GetLogsByTypeAndUserId: function (userId, selectedType) {
                    var type = "POST";
                    var url = `/api/logs/GetLogsByTypeAndUserId/${userId}`;
                    var dataKey = "SelectedType";
                    $.RequestDataMyAjax(type, url, dataKey, selectedType);
                },
                GetUsersForSelect: function () {
                    $.ajax({
                        type: "GET",
                        url: "/api/users/getlogusers",
                        success: function (result) {
                            $('#users-select').empty();
                            var options = '';
                            options += '<option value =""></option>';
                            for (var x = 0; x < result.length; x++) {
                                options += '<option value="' + result[x][
                                    'Id'] + '">' + result[x]['UserName'] +
                                    '</option>';
                            }
                            $('#users-select').html(options);
                        }
                    });
                },
                GetTypesForSelect: function () {
                    $.ajax({
                        type: "POST",
                        url: "/api/logs/GetLogType",
                        dataType: "json",
                        success: function (result) {
                            $('#types-select').empty();
                            var options = '';
                            options += '<option value =""></option>';
                            for (var x = 0; x < result.length; x++) {
                                options += '<option value="' + x + '">' + result[x] +
                                    '</option>';
                            }
                            $('#types-select').html(options);
                        }
                    });
                },
                GetUsersByLogTypeForSelect: function (selectedtype) {
                    $.ajax({
                        type: "POST",
                        url: "/api/logs/GetUsersByLogType",
                        dataType: "json",
                        data: { "SelectedType": selectedtype },
                        success: function (result) {
                            $('#type-users-select').empty();
                            if (result == "") {
                                $("#type-users-select").prop("hidden", true);
                            }
                            if (result != "") {
                                $("#type-users-select").prop("hidden", false);
                                var options = '';
                                options += '<option value =""></option>';
                                for (var x = 0; x < result.length; x++) {
                                    options += '<option value="' + result[x]['Id'] + '">' + result[x]['UserName'] +
                                        '</option>';
                                }
                                $('#type-users-select').html(options);
                            }
                        }
                    });
                }
            })
        });

        function OnSelectedCategoryChanged() {
            var categoriesSelect = document.getElementById("categories-select");
            var selectedIndex = categoriesSelect.selectedIndex;
            if (selectedIndex == "0") {
                ChangeHtmlOnAllSelected();
            }
            else if (selectedIndex == "1") {
                ChangeHtmlOnUserSelected();
            }
            else if (selectedIndex == "2") {
                ChangeHtmlOnDateSelected();
            }
            else if (selectedIndex == "3") {
                ChangeHtmlOnTypeSelected();
            }
            $.GetAllLogs();
        }
        function ChangeHtmlOnTypeSelected() {
            $("#users-select").prop("hidden", true);
            $("#datepicker").prop("hidden", true);
            $("#types-select").prop("hidden", false);
            $.GetTypesForSelect();
        }
        function ChangeHtmlOnDateSelected() {
            $("#type-users-select").prop("hidden", true);
            $("#users-select").prop("hidden", true);
            $("#types-select").prop("hidden", true);
            $("#datepicker").prop("hidden", false);
        }
        function ChangeHtmlOnUserSelected() {
            $("#users-select").prop("hidden", false);
            $("#datepicker").prop("hidden", true);
            $("#types-select").prop("hidden", true);
            $("#type-users-select").prop("hidden", true);
            $.GetUsersForSelect();
        }
        function ChangeHtmlOnAllSelected() {
            $("#users-select").prop("hidden", true);
            $("#datepicker").prop("hidden", true);
            $("#types-select").prop("hidden", true);
            $("#type-users-select").prop("hidden", true);
        }
        function OnDateSelected() {
            date = document.getElementById("datepicker").value;
            var selectedDate = date.toString();
            $.GetLogsByDate(selectedDate);

        }
        function OnSelectedTypeChanged() {
            $("#type-users-select").prop("hidden", false);
            var selectedType = $("#types-select option:selected").html();
            $.GetLogsByType(selectedType);
            $.GetUsersByLogTypeForSelect(selectedType);
        }
        function OnSelectedUserForTypeChanged() {
            var selectedType = $("#types-select option:selected").html();
            var userSelect = document.getElementById("type-users-select");
            var selectedUserId = userSelect.options[userSelect.selectedIndex].value;
            $.GetLogsByTypeAndUserId(selectedUserId, selectedType);
        }
        function OnSelectedUserChanged() {
            var userSelect = document.getElementById("users-select");
            var selectedUserId = userSelect.options[userSelect.selectedIndex].value;
            $.GetLogsByUserId(selectedUserId);
        }
        function FillTableRows(result) {
            var tableParentDiv = $('#log-grid');
            tableParentDiv.children()[0].id = "log-table";
            var tableId = $("#log-table");
            $("#log-table tr>td").remove();
            $(result).each(function (index, log) {
                tableId.append('<tr><td>' + log.Id + '</td><td>'
                    + log.Text + '</td><td>' + log.Severity + '</td><td>' + log.Type + '</td><td>' +
                    log.User.UserName + '</td><td>' + log.CreatedAt + '</td><td>' + log.Date + '</td></tr>');
            });
        }
    </script>
}


