<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <br />
    <div>
        <label>Start Date :</label>&nbsp;
        <input type="date" id="start-date-logsbyday" name="datepicker" onchange="OnDateSelectedLogsByDay()">&nbsp;
        <label for="male">End Date :</label>&nbsp;
        <input type="date" id="end-date-logsbyday" name="datepicker" onchange="OnDateSelectedLogsByDay()"><br />
        <div id="log-chart-parent">
            <canvas id="log-chart" style="max-width:100%;height:auto;"></canvas>
        </div>
    </div>
    <br />
    <div>
        <label>Start Date :</label>&nbsp;
        <input type="date" id="start-date" name="datepicker" onchange="OnDateSelected()">&nbsp;
        <label>End Date :</label>&nbsp;
        <input type="date" id="end-date" name="datepicker" onchange="OnDateSelected()"><br />
        <div id="log-chart-bylogtype-parent">
            <canvas id="log-chart-bylogtype" style="max-width:100%;height:auto;"></canvas>
        </div>
    </div>
    <h4 align="center" style="color: cornflowerblue">Log Types</h4>
    <div>
        <label>Start Date :</label>&nbsp;
        <input type="date" id="start-date-logtypes" name="datepicker" onchange="OnDateSelectedLogTypes()">&nbsp;
        <label>End Date :</label>&nbsp;
        <input type="date" id="end-date-logtypes" name="datepicker" onchange="OnDateSelectedLogTypes()"><br />
        <div id="log-chart-log-types-parent">
            <canvas id="log-chart-log-types" style="max-width:100%;height:auto;"></canvas>
        </div>
    </div><br />
</body>
</html>

@section Scripts{
    <script>
        $(function () {
            
            $.extend({
            ChartLogsByDay: function (selectedStartDate, selectedEndDate) {
            $.ajax({
                type: "POST",
                url: "/api/Dashboard/GetChartLogsByDay",
                data: { "SelectedStartDate": selectedStartDate, "SelectedEndDate": selectedEndDate },
                success: function (result) {
                    var label = [];
                    var data = [];
                    for (var i = 0; i < result.length; i++) {
                        label.push(result[i].FormatDate);
                        data.push(result[i].CountText);
                    }
                    $('#log-chart').remove();
                    $('#log-chart-parent').append('<canvas id="log-chart" style="max-width:100%;height:auto;"></canvas>');
                    DrawChart(label, data, 'line', 'Number Of Log By Day', '#log-chart', true, true);
                }
            });
            },
            MostPauseByLogType: function (selectedStartDate, selectedEndDate) {
            $.ajax({
                type: "POST",
                url: "/api/Dashboard/GetChartLogsMostPausedPerson_ByLogType",
                data: { "SelectedStartDate": selectedStartDate, "SelectedEndDate": selectedEndDate },
                success: function (result) {
                    var label = [];
                    var data = [];
                    for (var i = 0; i < result.length; i++) {
                        data.push(result[i].CountType);
                        label.push(result[i].UserName);
                    }
                    $('#log-chart-bylogtype').remove();
                    $('#log-chart-bylogtype-parent').append('<canvas id="log-chart-bylogtype" style="max-width:100%;height:auto;"></canvas>');
                    DrawChart(label, data, 'bar', 'Most Paused Person By Log Type', '#log-chart-bylogtype', true, true);
                }
            });
            },
            LogTypes: function (selectedStartDate,selectedEndDate) {
            $.ajax({
                type: "POST",
                url: "/api/Dashboard/GetChartLogsByLogType",
                data: { "SelectedStartDate": selectedStartDate, "SelectedEndDate": selectedEndDate },
                success: function (result) {
                    var label = [];
                    var data = [];
                    for (var i = 0; i < result.length; i++) {
                        data.push(result[i].CountType);
                        label.push(result[i].Type);
                    }
                    $('#log-chart-log-types').remove();
                    $('#log-chart-log-types-parent').append('<canvas id="log-chart-log-types" style="max-width:100%;height:auto;"></canvas>');
                    DrawChart(label, data, 'pie', 'Logs By Log Type', '#log-chart-log-types', false, false);
                }
              });
            }
            });
            $.LogTypes(null, null);
            $.MostPauseByLogType(null, null);
            $.ChartLogsByDay(null, null);
        });

        function OnDateSelectedLogTypes() {
            var selectStartdate = document.getElementById("start-date-logtypes").value;
            var selectedStartDate = selectStartdate.toString();
            var selectEndDate = document.getElementById("end-date-logtypes").value;
            var selectedEndDate = selectEndDate.toString();
            $.LogTypes(selectedStartDate, selectedEndDate);
        }

        function OnDateSelected() {
            var selectStartdate = document.getElementById("start-date").value;
            var selectedStartDate = selectStartdate.toString();
            var selectEndDate = document.getElementById("end-date").value;
            var selectedEndDate = selectEndDate.toString();
            $.MostPauseByLogType(selectedStartDate, selectedEndDate);
        }

        function OnDateSelectedLogsByDay() {
            var selectStartdate = document.getElementById("start-date-logsbyday").value;
            var selectedStartDate = selectStartdate.toString();
            var selectEndDate = document.getElementById("end-date-logsbyday").value;
            var selectedEndDate = selectEndDate.toString();
            $.ChartLogsByDay(selectedStartDate, selectedEndDate);
        }

        function DrawChart(label, data, type, title, id, yAxesdisplay, xAxesdisplay,) {
            var ctx = $(id);
            var graph = new Chart(ctx, {
                type: type,
                label: 'test',
                data: {
                    labels: label,
                    datasets: [{
                        label: title,
                        data: data,
                        fill: false,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(205, 129, 24, 0.2)',
                            'rgba(55, 185, 94, 0.2)',
                            'rgba(255, 59, 64, 0.2)',
                            'rgba(255, 159, 24, 0.2)',
                        ],
                        borderColor: '#46d5f1',
                        hoverBackgroundColor: '#CCCBBC',
                        hoverBorderColor: '#666666',
                        borderWidth: '1',
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                display: yAxesdisplay,
                                beginAtZero: true,
                                stepSize: 1
                            }

                        }],
                        xAxes: [{
                            ticks: {
                                display: xAxesdisplay,
                                autoSkip: false,
                                maxRotation: 90,
                                minRotation: 90
                            }
                        }]
                    }
                }
            });
        }
    </script>
}

