@model IEnumerable<KDABackendLibrary.Models.FileModel>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("File Id");
        columns.Add(model => new HtmlString(string.Format($"<a href='/FilesView/DownloadFile/{ model.Id}' style = 'color : black ;'>" + model.Path + "</a>"))).Titled("Path");

        columns.Add(model => model.Date).Titled("Date").Formatted("{0:d}");
        columns.Add(model => model.CreatedAt).Titled("CreatedAt").Formatted("{0:d}");
        columns.Add(model => model.User.UserName).Titled("Username");
    })
    .Empty("No data found")
    .Id("file-grid")
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 10;
    })
    .Filterable()
    .Sortable()
)
@*columns.Add(model => $"<a href='/FilesView/DownloadFile/{ model.Id}'>" + model.Path + "</a>").Titled("Path");*@